:root{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --def_font_color : #333 ;
    --def_bxs_black_big : 0px 0px 10px 1px rgba(0 , 0, 0, .4);
    --def_bxs_black_small : 0px 0px 5px 1px rgba(0, 0, 0, .4);
    --def_bxs_white : 0px 0px 5px 1px rgba(255, 255, 255, .4);
    --highlight_color : rgba(255, 140, 0)

}
*:not(dialog){
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: var(--def_font_color);
}



input{
    outline: none;
    border: none;
}

*::selection{
    background-color: black;
    color: aqua;
}

a:link{
    text-decoration: none;
}

body{
    background-color: rgb(240, 240, 240);
    height: 1000vh;
}

/* Dialog Start */
dialog{
    padding: 0;
    border: none;
    animation: dialogClose .45s ;
    background-color: rgba(0, 0, 0, .05);
}

dialog::backdrop{
    animation: backdropClose .45s
}

dialog[open]{
    animation: dialogOpen .45s ;
}

dialog[open]::backdrop{
    animation: backdropOpen .45s forwards;
}

@keyframes dialogOpen {
    0%{
        display: none;
        opacity: 0;
        scale: 0;
    }
    100%{
        display: block;
        opacity: 1;
        scale: 1;
    }
}

@keyframes dialogClose {
    0%{
        display: block;
        opacity : 1;
        scale: 1;
    }
    100%{
        display: none;
        opacity:0;
        scale: 0;
    }
}

@keyframes backdropOpen {
    0%{
        background-color: rgba(0, 0, 0, 0);
    }
    100%{
        background-color: rgba(0, 0, 0, .4);
    }
}

@keyframes backdropClose {
    0%{
        background-color: rgba(0, 0, 0,.4);
    }
    100%{
        background-color: rgba(0 ,0 ,0 ,0);
    }
}
/* Dialog End */

#form{
    background-color: lightgreen;
    border:solid black 2px;
    border-radius:10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap:50px;
    padding:90px 30px 50px;
    
    box-shadow:0px 0px 15px 1px rgba(255, 255, 255, .2);
}

#container-form > #form > span#add-book{
    position: absolute;
    top:10px;
    font-size: 1.5rem;
    font-weight: 600;
}

#container-form > #form > span#add-book::before,
#container-form > #form > span#add-book::after{
    content:" â­ "
}

#form > p#read{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width:100%;
}


#form > p {
    position: relative;
}

#form > p > input:not([type="checkbox"]){
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid black;
    padding:12px 7px 7px;
    width:320px;
    font-size: 1rem;

    
}

#form > p > label:not([for="readStatus"]){
    position: absolute;
    bottom:9px;
    left:10px;
    transition: .25s;
    font-size:1.2rem;
    pointer-events: none;
    opacity:.8;
    
}

#form > p > label.active{
    translate: 0 -40px;
    font-size:1rem;
    font-weight:bold;
    opacity: 1;
}

#form > p#read > label{
    font-size: 1.2rem;
    font-weight:bold;
    margin-right:auto;
} 

#form > p#read > label + input[type="checkbox"]{
    height:25px;
    width:25px;
    cursor: pointer;
}

p#read > label + input:checked{
    border: solid red 5px;
}

button#confirm{
    padding:15px 40px;
    margin-right:auto;
    border-radius: 10px;
    border:none;
    background-color: var(--highlight_color);
    font-size: .95rem;
    font-weight: 550;
    cursor: pointer;
    transition: .3s;
    box-shadow: var(--def_bxs_black_big);
}

button#confirm:hover{
    transform: scale(1.2);
    box-shadow: var(--def_bxs_white);
}

