nav{
    
    width: 100%;
    display: flex;
    justify-content: center;
    gap:100px;
    align-items: center;
    background-color:rgba(0, 0, 0, .6);
    position: sticky;
    /* height: 50px; */
    top: 0;
    
    transition: .25s;
    z-index: 99;

}

nav.stick{
    height: 45px;
    background-color: rgba(0, 0, 0, .9);
}

nav.stick > h1{
    color: rgba(255, 242, 217);
}

nav.absolute{
    height:75px
}
nav.absolute > h1{
    color: black;
}

nav > h1{
    color: rgb(255, 242, 217);
}

nav > button:first-of-type{
    background-color: rgba(0,0,0,0);
    border:none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    /* transition: .25s; */
    padding: 0 0 20px; 
}
nav > button:first-of-type:hover{
    animation: addHover .55s forwards;
}

@keyframes addHover {
    0%{
        box-shadow: 0px 0px 0 0 hsl(180, 100%, 50%,0) ;
    }
    100%{
        box-shadow: 0px 5px 5px -1px  rgb(0, 255, 255, .5);
        
    }
}

#header{
    height: 60vh;
    background: url(./../assets/furniture-1.jpg) center no-repeat;
    background-size: cover;
    margin-top:-75px;
    box-shadow: 0 5px 15px -2px rgba(0, 0, 0, .4);
}
